#catface {
  background-color:#6cf;
  border-left:0;
  border-right:0;
  border-top:1px solid #999;
  bottom:0;
  display:none;
  left:0;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  position:fixed;
  text-align:center;
  width:100%;
}

#catface.catface-ie {
  position: absolute;
  right:auto;
  bottom:auto;
  overflow:hidden;
  left:expression((0 + (document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft)) + 'px');
  top:expression((0 - document.documentElement.offsetHeight + (document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight) + (document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) + 'px' )
}

#catface .catface-body { position:relative;z-index:100; }

#catface .catface-close { border:0;position:absolute;right:4px;top:4px; }

#catface .catface-close img { border:0; }

#catface .catface-content { padding:1em; }

#catface .catface-loading { text-align:center; }

#catface .catface-loading img { margin:auto;padding:10px 20px; }